@{
    ViewData["Title"] = "Start";
}
<h1>CleanIdentityMvc</h1>
<p>Projekt demonstracyjny ASP.NET Core MVC z Identity, EF Core, SQL Server, Razor Views i Swagger UI.</p>
<ul>
    <li>Rejestracja i logowanie użytkownika</li>
    <li>Blokada konta po nieudanych próbach logowania</li>
    <li>Reset hasła e-mailem</li>
    <li>Historia haseł i rejestr aktywności</li>
</ul>
